<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conceptor Graph</title>
  </head>
  <style>
    #cy {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  </style>

  <body>
    <div id="cy"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.14.1/cytoscape.min.js"></script>
    <% dependencies.forEach(dependency => { %>
    <script src="<%- dependency %>"></script>
    <%});%>
    <script>
      <%- script %>
    </script>
  </body>
</html>
